<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Elva frontend</display-name>
    <servlet>
        <servlet-name>elva</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>elva</servlet-name>
        <url-pattern>/elva</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dataController</servlet-name>
        <servlet-class>com.github.andy.elva.model.DataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currentController</servlet-name>
        <servlet-class>com.github.andy.elva.model.CurrentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>currentController</servlet-name>
        <url-pattern>/currentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataController</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

</web-app>
